<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Mitarbeiter-Details</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="employee-details.component.css">
</head>
<body>

<h3>Mitarbeiter-Details </h3>

<div class="container">
  <form action="/action_page.php">
    <label for="fname">Name</label>
    <input type="text" id="fname" name="name" placeholder="Deine Name..">

    <label for="lname">Vorname</label>
    <input type="text" id="lname" name="vorname" placeholder="Deine Vorname..">
    
    <label for="Telnum">Telefonnummer</label>
    <input type="text" id="lname" name="Telefonnummer" placeholder="Deine Telefonnummer..">
    
    <label for="Email">Email</label>
    <input type="text" id="lname" name="email" placeholder="Deine EmailAdresse..">

    <form>
      MitarbeiterId:
      <br> <input type="number" id="id">
      <br>
      Vorname:
      <br> <input type="text" firstname="Firstname">
      <br>
      Nachname:
      <br> <input type="text" lastname="Surname">
      <br>
      Email:
      <br> <input type="email" email="Email">
      <br>
      Telefonnummer:
      <br> <input type="number" telNumber="Telephone-Nr">
      <br>
      </form>
      
      <br>
    
    <input type="submit" value="Submit">
  </form>
</div>

</body>
  