<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Mitarbeiter-Details</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="employee-details.component.css">
</head>
<body>

<h3>Mitarbeiter-Details </h3>

<div class="container">
  <form action="/action_page.php">

    <label for="id">Mitarbeiter Id</label>
    <input type="text" id="lname" name="mitarbeiter Id" placeholder="Deine Id..">

    <label for="fname">Name</label>
    <input type="text" id="fname" name="name" placeholder="Deine Name..">

    <label for="lname">Vorname</label>
    <input type="text" id="lname" name="vorname" placeholder="Deine Vorname..">
    
    <label for="Telnum">Telefonnummer</label>
    <input type="text" id="lname" name="Telefonnummer" placeholder="Deine Telefonnummer..">
    
    <label for="Email">Email</label>
    <input type="text" id="lname" name="email" placeholder="Deine EmailAdresse..">
    
    <input type="submit" value="speichern">
    <input type="submit" value="löschen"> 
  </form>
</div>

</body>
  